################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/SoftRasterizer/x64/Debug/SoftRasterizer.tlog
/SoftRasterizer/x64/Debug
/x64/Debug
/.vs/SoftRasterizer/v16/ipch/AutoPCH
/.vs/SoftRasterizer/v16/Browse.VC.opendb
/.vs
/Debug
/Sample-Test/x64/Debug
/Sample-Test/Debug
/SoftRasterizer/Debug
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1
/Sample-Test/cpp.hint
/DrawWireframeTriangle/Debug
/DrawWireframeTriangle/Release
/SoftRasterizer/Release
/Release
/DrawColorfulTriangle/Debug
/DrawTextureTriangle/Debug
/DrawWireframeCube/Release
/DrawWireframeCube/Debug
/DrawTextureCube/Release
/DrawColorfulTriangle/Release
/DrawColorfulCube/Debug
/DrawColorfulCube/Release
/DrawTextureTriangle/Release
/PhongShading/Release
/MipMapping/Debug
/MipMapping/Release
/DrawTextureCube/Debug
/DrawColorfulCube/x64/Debug
/Unit-Test/Debug
/Test/Debug
/Math-Unit-Test/Debug
/Agreement-Unit-Test/Debug
/RGBImage-Unit-Test/Debug
/Test/Release
/RGBImage-Unit-Test/Release
/DrawCubeByOrthogonal/Debug
/DrawCubeByOrthogonal/Release
/DrawCubeByPerspective/Release
/DrawSphereByWireFrame/Debug
/DrawSphereByWireFrame/Release
/Unit-Test-Geometry/Debug
/DrawSphereByGouraudShading/Release
/DrawSphereByGouraudShading/Debug
/DrawSphereByPhoneShading/Release
